/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
}

#Form1_body
{
	background-color: #F4F7F8;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow7
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol4
{
	background-color: Transparent;
	background-position: center;
	background-size: cover;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow18
{
	background-color: #03A9F4;
	background-image: url('../Images/PortalDefault/hero-bg30.png');
	background-position: center;
	background-size: cover;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol61
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow36
{
	background-color: Transparent;
	position: fixed;
	 top: 0;
	 width: 100%;
	 z-index: 6999;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol62
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainer4
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow17
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol40
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 5px 10px !important;
}

.c_Div26
{
	background-color: Transparent;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 6px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon16
{
	background-color: Transparent;
	color: #E1F5FE;
	display: block;
	font-size: 30px;
}

.c_Div26.div-transparent .c_container_Icon16
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: -4px;
	text-align: left;
}

.c_Label64
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	--mleft: 45px;
	position: absolute !important;
	left: 45px;
	top: 0px;
	width: 256px;
	color: #FFFFFF;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol41
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_NavBar1
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	text-align: right;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	z-index: 2500;
}

#NavBar1 .rnvRootGroupWrapper
{
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_NavBarItem6
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem7
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem10
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem9
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_LayoutCol43
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainer5
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRowHome
{
	background-color: Transparent;
	background-position: center;
	background-size: contain;
	cursor: inherit;
	padding: 150px 0px 180px 0px !important;
}

.c_LayoutCol3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px !important;
}

.c_Image14
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 597px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	Object-fit: cover;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol2
{
	background-color: Transparent;
	align-self: center;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px !important;
}

.c_Label1
{
	font-family: 'Segoe UI';
	font-size: 32px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #FFFFFF;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label2
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 10px;
	margin-bottom: 25px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #FFFFFF;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Button2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	width: 205px;
	height: 48px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button2:not(:hover), .c_Button2.RadButton.rbButton.rbDisabled
{
	background-color: #03A9F4;
	border-color: #B0CAD4;
	color: #FFFFFF !important;
}

.c_Button2_icon
{
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button2:hover .c_Button2_icon
{
	background-image: none;
	color: #F8FAFB;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol36
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainer3
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRowSobre
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 50px 10px 10px 10px !important;
}

.c_LayoutCol5
{
	background-color: #F4F7F8;
	align-self: center;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px !important;
}

.c_Label3
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label4
{
	font-family: 'Segoe UI';
	font-size: 28px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 20px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label5
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 30px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Button4
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	width: 205px;
	height: 48px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button4:not(:hover), .c_Button4.RadButton.rbButton.rbDisabled
{
	background-color: #03A9F4;
	border-color: #B0CAD4;
	color: #FFFFFF !important;
}

.c_Button4_icon
{
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button4:hover .c_Button4_icon
{
	background-image: none;
	color: #FFFFFF;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol6
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_Image2
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 267px;
	Object-fit: cover;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutRow33
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutColPortifolio
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 30px 10px 5px 10px !important;
}

.c_Label23
{
	font-family: 'Segoe UI';
	font-size: 32px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 20px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol18
{
	background-color: Transparent;
	align-self: center;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px !important;
}

.c_Image6
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 267px;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol25
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow22
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol47
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div9
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon5
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div9.div-surface .c_container_Icon5
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label24
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 161px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol48
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div10
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon6
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div10.div-surface .c_container_Icon6
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label25
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 160px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol49
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div11
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon7
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div11.div-surface .c_container_Icon7
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label26
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 150px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol50
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div12
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon8
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div12.div-surface .c_container_Icon8
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label27
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 160px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol51
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div13
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon9
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div13.div-surface .c_container_Icon9
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label28
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 160px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol52
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div14
{
	background-color: #F4F7F8;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon10
{
	background-color: Transparent;
	color: #455A64;
	display: block;
	font-size: 30px;
}

.c_Div14.div-surface .c_container_Icon10
{
	position: absolute !important;
	left: 26px;
	top: 22px;
	text-align: left;
}

.c_Label29
{
	font-family: 'Segoe UI';
	font-size: 16px;
	position: absolute !important;
	left: 61px;
	top: 26px;
	width: 160px;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutRow31
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutColServicos
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px 10px 10px 10px !important;
}

.c_LayoutRow3
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol8
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow21
{
	background-color: Transparent;
	height: 100%;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol46
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_Image3
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 15px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label8
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label9
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol11
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow20
{
	background-color: Transparent;
	height: 100%;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol45
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_Image4
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 15px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label10
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label11
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol10
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow19
{
	background-color: Transparent;
	height: 100%;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol44
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_Image5
{
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 15px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label12
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label13
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow35
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px 0px 60px 0px !important;
}

.c_LayoutColContato
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 5px 10px !important;
}

.c_Label45
{
	font-family: 'Segoe UI';
	font-size: 32px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 20px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #455A64;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol32
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow27
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol57
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 5px !important;
}

.c_Label47
{
	font-family: 'Segoe UI';
	font-size: 12px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	width: 218px;
	color: #263238;
	display: block;
	font-weight: 400;
	height: 100%;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol33
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow28
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol58
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 0px !important;
}

.c_Button7
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 28px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button7:not(:hover), .c_Button7.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #CFD8DC;
	color: #CFD8DC !important;
}

.c_Button7_icon
{
	color: #6C1A1A;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button7:hover .c_Button7_icon
{
	background-image: none;
	color: #F8FAFB;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button6
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 28px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button6:not(:hover), .c_Button6.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #CFD8DC;
	color: #CFD8DC !important;
}

.c_Button6_icon
{
	color: #118AF9;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button6:hover .c_Button6_icon
{
	background-image: none;
	color: #FFFFFF;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button5
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 28px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button5:not(:hover), .c_Button5.RadButton.rbButton.rbDisabled
{
	background-color: Transparent;
	border-color: #CFD8DC;
	color: #CFD8DC !important;
}

.c_Button5_icon
{
	color: #0BDB28;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button5:hover .c_Button5_icon
{
	background-image: none;
	color: #FFFFFF;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol37
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow29
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol59
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 5px !important;
}

.c_Link1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	width: 190px;
	height: 17px;
	background-color: Transparent;
	color: #373737;
	display: block;
	text-align: Left;
}

/*
Media query for XS resolution
*/
@media (min-width: 0px) {
	
	.c_Link1
	{
		display: block;
	}

}

/*
Media query for SM resolution
*/
@media (min-width: 576px) {
	
	.c_Link1
	{
		display: block;
	}

}

/*
Media query for LG resolution
*/
@media (min-width: 992px) {
	
	.c_Link1
	{
		display: block;
	}

}

.c_LayoutCol38
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow30
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol60
{
	background-color: #F4F7F8;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 5px !important;
}

.c_Label81
{
	font-family: 'Segoe UI';
	font-size: 12px;
	margin-left: var(--mleft);
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #263238;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}
/*		Hover style		*/


.c_Button2:hover
{
	background-color: #03A9F4 !important;
	border-color: #B0CAD4 !important;
	color: #FFFFFF !important;
}

.c_Button2:hover
{
	background-color: #03A9F4 !important;
	border-color: #B0CAD4 !important;
	color: #FFFFFF !important;
}

.c_Button4:hover
{
	background-color: #03A9F4 !important;
	border-color: #B0CAD4 !important;
	color: #FFFFFF !important;
}

.c_Button4:hover
{
	background-color: #03A9F4 !important;
	border-color: #B0CAD4 !important;
	color: #FFFFFF !important;
}

.c_Button7:hover
{
	background-color: #CFD8DC !important;
	border-color: #CFD8DC !important;
	color: #607D8B !important;
}

.c_Button6:hover
{
	background-color: #CFD8DC !important;
	border-color: #CFD8DC !important;
	color: #607D8B !important;
}

.c_Button5:hover
{
	background-color: #CFD8DC !important;
	border-color: #CFD8DC !important;
	color: #607D8B !important;
}

.c_Link1:hover
{
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #373737;
}
