/* NavBar style: */ 

.RadNavigation_Material.navbar-accent {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    border-radius: 6px !important;
}
.RadNavigation_Material.navbar-accent .rnvRootGroupWrapper {
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    background-image: none;
}
.RadNavigation_Material.navbar-accent .rnvRootGroupWrapper {
    height: inherit !important;
}
.RadNavigation_Material.navbar-accent .rnvMore {
    height: inherit !important;
    width: 55px;
}
.RadNavigation_Material.navbar-accent .rnvSelected.rnvMore, 
.RadNavigation_Material.navbar-accent .rnvSelected>.rnvRootLink, 
.RadNavigation_Material.navbar-accent .rnvExpanded>.rnvRootLink {
    border: none;
    background-image: none;
    box-shadow: none !important;	
    color: #03A9F4;
    background-color: #FFFFFF;
	border-radius:5px;
}
.RadNavigation_Material.navbar-accent .rnvMore {
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    background-image: none;
    box-shadow: none !important;
}
.RadNavigation_Material.navbar-accent .rnvRootLink {
    border: none;
}
.RadNavigation_Material.navbar-accent .rnvHovered.rnvMore,
.RadNavigation_Material.navbar-accent .rnvHovered>.rnvRootLink{
	border:none;
	color: #FFFFFF;
	background-color:#FFFFFF50;
	background-image:none;
	border-radius:5px;	
}
.RadNavigation_Material .rnvPopup .rnvHovered>.rnvLink{
	color: #FFFFFF;
	background-color:#FFFFFF50;
}
.radSkin_Material .rnvPopup .rnvLink {
    padding: 15px 30px 15px 15px;
}
.radSkin_Material .rnvPopup .rnvSelected>.rnvLink, .radSkin_Black .rnvPopup .rnvExpanded>.rnvLink {
    color: #03A9F4;
    background-color: #F4F7F8;
}
.radSkin_Material .rnvPopup {
    border-radius: 5px;
    border-color: #B0CAD4;
    color: #FFFFFF;
    background-color: #03A9F4;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);	
}
.RadNavigation_Material.navbar-accent .rnvSlide {
	z-index: 9998;
}
